# SvelteKit build output
.svelte-kit/
build/
dist/

# Vite PWA development directory
dev-dist/

# Node modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db

# Coverage directory used by testing tools
coverage/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
.tmp/
.temp/

# Misc
.vercel
.netlify
.turbo
*/~partytown/*